.sidebar {
    display: flex;
}

.display {
    padding: 5px 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

.display:hover {
    background-color: rgb(249, 249, 249) !important;
}

.display.active {
    color: #1976D2;
    border-bottom: 2px solid #1976D2;;
}