.searchbar {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    box-sizing: border-box;
    padding: 10px 16px 10px 16px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    width: 333px;
}

.searchbar input {
    outline: none;
    font-size: 14px;
    font-family: arimo, arial;
    border: none;
    color: rgb(35, 31, 32);
    background-color: transparent;
    line-height: 20px;
    width: 100%;
    padding: 0px;
}