@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*BASE*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  direction: rtl;
  min-height: 100vh;
  font-family: Heebo, Arial;
  color: rgb(35, 31, 32);
}

#root,.App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(68, 122, 239);
}

.blue {
  color: rgb(68, 122, 239);
}

select, input, ::placeholder {
  font-family: Heebo;
}

/* HELPERS */
.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

/*HEADER*/
header {
  padding: 14px 10px;
  gap: 10px;
  font-weight: 400;
  font-size: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 20px;
}

.top .left {
  display: flex;
  gap: 16px;
}

/*MAIN*/
main {
  height: 100%;
  flex-grow: 1;
  background-color: #EEEEEE;
}

.main {
  flex-grow: 1;
  background-color: #f9f9f9;
}

.table-wrapper {
  padding: 10px;
  margin: 15px;
  height: -webkit-fill-available;
  background-color: white;
}